{% extends 'security/security.base.html.twig' %}

{% block title %}Login{% endblock %}

{% block content %}

    {{ form_start(loginForm) }}

        {% if error %}
            <div class="error block text-red-500 text-sm font-semibold mb-8 text-center">
                {{ error.messageKey }}
            </div>
        {% endif %}

        <div class="form-row">
            {{ form_label(loginForm.email) }}
            {{ form_widget(loginForm.email) }}
        </div>
        <div class="form-row">
            {{ form_label(loginForm.password) }}
            {{ form_widget(loginForm.password) }}
        </div>

        <div class="submit">
            <input type="submit" value="Login" />
        </div>

    {{ form_end(loginForm) }}

{#    <form method="POST">#}
{#        <input type="text" name="email" placeholder="Email address" />#}
{#        <input type="password" name="password" placeholder="Password" />#}
{#        <input type="submit" value="Login" />#}
{#    </form>#}
{% endblock %}